---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h1>Selected Publications</h1>

{% for post in site.publications %}
  {% if post.featured %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}


<h1>Complete Publication List</h1>
<p>Publications are grouped by year of publication.</p>

{% assign sorted_publications = site.publications | sort: 'date' | reverse %}

{% assign current_year = "" %}

{% for post in sorted_publications %}

  {% assign year = post.date | date: "%Y" %}

  {% if year != current_year %}
    {% assign current_year = year %}

<h2>{{ current_year }}</h2>

  {% endif %}

  {% include archive-single.html %}

{% endfor %}



